*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
:root {
      background-color: rgb(135, 206, 235);
}
article p:first-child{
	background-color: #000;
	color:#fff;
	margin:0 5px
}
article p:nth-child(2){
	padding-top: 10px;
}
article p:last-child{
	padding-top:15px;
	margin-bottom:20px;
	color: red;
}
ul li{
	background-color: gray;
	margin-left: 20px;
	padding: 10px;
	width:50%;
}

ul li:nth-child(odd){
	background-color: white;
}

ul li:first-child,
ul li:last-child{
	font-size:22px;
}

ul li:nth-last-child(3) {
      background-color: pink;
}